{% extends 'core/base.html' %}

{% block title %}Sobre{% endblock %}

{% block background %}{% load static %}{% static 'core/img/principal.png' %}{% endblock %}

{% block header %}
<h1>Sobre</h1>
<h4 class="subheading">Minha História</h4>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/avatar_kaio.jpeg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Quem eu sou?</h2>

        <p>Eu nasci em Cunha, no interior de São Paulo. O amor da minha vida foi minha cachorra Nina. Ela viveu dez anos maravilhosos comigo, mas eles não foram suficientes. No ano passado eu adotei uma gata chamada carinhosamente de "Miau", ela parece gostar de estar comigo, mas também me morde, acho o amor não é para mim. 
          <br>Eu gosto de ler e assistir qualquer coisa na Netflix, eu gosto de muitos ritmos musicais, mas ultimamente eu ouço muita eletrônica e house. Eu sou meio obcecado por letras com dizeres racionais, e a música <a href="https://www.youtube.com/watch?v=8DXRsl2evTc&list=LLXH305nGS3I8mk-psIl_ZFw&index=5&t=0s">PeterPan</a> não sai da minha cabeça. <br>
           <br>Eu vivi a minha infância em cidades diferentes, a minha adolescência foi passada entre Porto Alegre e São Paulo, onde eu tenho um carinho especial pela cidade de Sulina, no Paraná, onde eu fiz meus dois melhores amigos e mesmo a centenas de quilômetros de distância, nunca me deixaram na mão.

        Eu gosto muito de tecnologia, e isso deve responder o fato de eu me concentrar muito nisso por muito tempo.
        </p>
        <br>
        <h5>Quero compartilhar meu conhecimento e aprender cada dia mais!</h5>
    </div>
</div>

{% endblock %}